# Dictionaries in python
- word: definition
- key: value pair
- batsmen: no.of centuries scored
- student_roll_number: name
- They are used to maintain data as keey-value pairs
- Dictionary elements are stored in curly braces
- A key value pair must be seperated by using (:)
- Only immutable elements are allowed as keys
- But values can be of any type
- Duplication of keys is also not allowed in dictionaries
- Using keys we can access values of a dictionary

In [2]:
# string- int mapping(dictionary)
d={'sachin':100,'kohli':81,'ponting':78}
print(d)
print(type(d))

{'sachin': 100, 'kohli': 81, 'ponting': 78}
<class 'dict'>

In [8]:
d={'sachin':100,'kohli':81,'ponting':78}
print(len(d))
print(d['kohli']) #d[key]--> value associated with key

3
81

# Looping on a dictionary

In [11]:
d={'sachin':100,'kohli':81,'ponting':78}
for i in d:
    print(i,d[i])

sachin 100
kohli 81
ponting 78

# Different ways of creating Dictionary

In [14]:
d={}
d['sachin']=100
d['kohli']=81
d['ponting']=78
print(d)

{'sachin': 100, 'kohli': 81, 'ponting': 78}

In [16]:
n=int(input("Enter number of pairs: "))
d={}
for i in range(n):
    key=input("Enter batsman name: ")
    centuries=int(input("Enter number of centuries: "))
    d[key]=centuries
print(d)

Enter number of pairs:  3
Enter batsman name:  kohli
Enter number of centuries:  81
Enter batsman name:  sachin
Enter number of centuries:  100
Enter batsman name:  ponting
Enter number of centuries:  78

{'kohli': 81, 'sachin': 100, 'ponting': 78}

In [18]:
n=int(input("Enter number of pairs: "))
d={}
for i in range(n):
    movie=input("Enter movie name: ")
    director=input("Enter director name: ")
    d[movie]=director
print(d)

Enter number of pairs:  3
Enter movie name:  rrr
Enter director name:  ssr
Enter movie name:  animal
Enter director name:  sandeep
Enter movie name:  devara
Enter director name:  koratala

{'rrr': 'ssr', 'animal': 'sandeep', 'devara': 'koratala'}

# generating a dictionary from existing data

In [48]:
batsmen=['sachin','kohli','ponting']
centuries=[100,81,78]
d={}
for i in range(len(batsmen)):
    d[batsmen[i]]=centuries[i]
print(d)

{'sachin': 100, 'kohli': 81, 'ponting': 78}

In [50]:
batsmen=['sachin','kohli','ponting']
centuries=[100,81,78]
d={batsmen[i]:centuries[i] for i in range(len(batsmen))}
print(d)

{'sachin': 100, 'kohli': 81, 'ponting': 78}

In [58]:
d={}
for i in range(97,123):
    d[chr(i)]=i-96
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26}

In [64]:
d={'rio': [78, 47, 66, 51, 89],
 'denver': [55, 81, 76, 80, 69],
 'tokyo': [55, 60, 57, 25, 33],
 'professor': [50, 73, 74, 67, 51],
 'lisbon': [89, 83, 96, 73, 62]}
d1={}
for i in d:
    d1[i]=sum(d[i])
print(d1)

{'rio': 331, 'denver': 361, 'tokyo': 230, 'professor': 315, 'lisbon': 403}

In [72]:
def get_status(marks):
    for i in marks:
        if i<35:
            return "Fail"
        return "Pass"
d={'rio': [78, 47, 66, 51, 89],
 'denver': [55, 81, 76, 80, 69],
 'tokyo': [55, 60, 57, 25, 33],
 'professor': [50, 73, 74, 67, 51],
 'lisbon': [89, 83, 96, 73, 62]}
new_d={}
for i in d:
    new_d[i]=get_status(d[i])
print(new_d)

{'rio': 'Pass', 'denver': 'Pass', 'tokyo': 'Pass', 'professor': 'Pass', 'lisbon': 'Pass'}

# Maintaining frequencies of data using ditionaries

In [77]:
s="abbbaaaacccz"
d={}
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'a': 5, 'b': 3, 'c': 3, 'z': 1}

In [79]:
s=['severus', 'ron', 'ron', 'heromine', 'heromine', 'albus',
   'heromine', 'malfoy', 'severus', 'harry', 'albus','malfoy', 'heromine', 
   'heromine', 'ron', 'malfoy', 'malfoy', 'ron', 'albus', 
   'malfoy', 'ron', 'albus', 'heromine', 'albus', 'ron', 'severus', 'harry',
   'harry', 'ron', 'malfoy', 'severus', 'severus', 'heromine', 'harry', 'ron',
   'ron', 'malfoy', 'ron', 'ron', 'malfoy', 'ron', 'harry', 'ron', 'malfoy', 
   'albus', 'albus', 'heromine', 'malfoy', 'heromine', 'heromine', 'severus', 
   'albus', 'albus', 'albus', 'albus', 'malfoy', 'severus', 'severus', 'malfoy', 
   'heromine', 'severus', 'severus', 'ron', 'harry', 'severus', 'albus', 'harry',
   'albus', 'albus', 'heromine', 'severus', 'heromine', 'harry', 'harry', 'severus',
   'severus', 'ron', 'ron', 'heromine', 'heromine', 'malfoy', 'albus', 'ron', 
   'ron', 'malfoy', 'ron', 'ron', 'severus', 'malfoy', 'heromine', 'severus'
   , 'harry', 'malfoy', 'albus', 'ron', 'malfoy', 'ron', 'severus', 'malfoy', 'albus']
d={}
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'severus': 17, 'ron': 22, 'heromine': 16, 'albus': 17, 'malfoy': 18, 'harry': 10}

In [1]:
#dict() is builtin function in py
#it is used to create a dictionary from iterable of iterables
# When using dict() we have to make sure the inner iterables are of length2
data=[["abdul kalam","wings of fire"],["j.k rowling","harry potter"],["chetan bhagat","half girlfriend"]]
d=dict(data)
print(d)
print(type(d))
for author,book in d.items():
    print(f"{author} has written {book}")
#zip()
#zip() function takes n number of iterables and returns a zip object containig n_length tuples,where each item form tuple 
#comes from each iterable 
#zip() keeps on generating tuples until the smallest length iterabe gets exhausted

{'abdul kalam': 'wings of fire', 'j.k rowling': 'harry potter', 'chetan bhagat': 'half girlfriend'}
<class 'dict'>
abdul kalam has written wings of fire
j.k rowling has written harry potter
chetan bhagat has written half girlfriend

In [3]:
author=["abdul kalam","j.k rowling","chetan bhagat",]
books= ["wings of fire","harry potter","half girlfriend"]
d=dict(zip(author,books))
print(d)
print(type(d))

{'abdul kalam': 'wings of fire', 'j.k rowling': 'harry potter', 'chetan bhagat': 'half girlfriend'}
<class 'dict'>

In [5]:
import string
print(string.ascii_lowercase)
letters="abcdefghijklmnopqrstuvwxyz"
numbers=range(1,27)
d=dict(zip(letters,numbers))
print(d)

abcdefghijklmnopqrstuvwxyz
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26}

In [9]:
#Higher order Functions
# higher Order Functions r the function that takes another function(s) as it's arguments
#--> examples
#map() filter() sorted()  functools.reduce()  itertools.accumulate()
#map(func,iterable)
#map() takes a function
names=['xyz','pavan','z','pq','abcd']
m=map(len,names)
n=map(max,names)
print(list(m))
print(list(n))

[3, 5, 1, 2, 4]
['z', 'v', 'z', 'q', 'd']

In [11]:
import math
alpha=list(map(chr,range(97,123)))
print(alpha)
nums=[4,16,64,121,196]
print(list(map(math.sqrt,nums)))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
[2.0, 4.0, 8.0, 11.0, 14.0]

In [13]:
def cube(x):
    return x*x*x
nums=[4,16,64,121,196]
print(list(map(cube,nums)))   # User defined function
print(list(map(bin,nums)))    # Built-in function

[64, 4096, 262144, 1771561, 7529536]
['0b100', '0b10000', '0b1000000', '0b1111001', '0b11000100']

In [15]:
def get_factor(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    return c
nums=[4,16,64,121,196]
print(list(map(get_factor,nums)))

[3, 5, 7, 3, 9]

In [17]:
def vowel_cnt(string):
    c=0
    for i in string:
        if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':   # if i in 'aeiouAEIOU':
            c+=1
    return c   
names=['harry','ron','hermonie','dumbledore','snape']
print(list(map(vowel_cnt,names)))

[1, 1, 4, 4, 2]

# filter(func,iterable)
- filter() takes a boolean function and an iterable.
- And filters in the values from the iterable that gives True when sent to the function
- filter() returns a filter object

In [19]:
#filtering even numbers from a list of integers
def is_even(n):
    return n%2==0
nums=[2,4,9,8,16,17,31]
f=filter(is_even,nums)
print(list(f))

[2, 4, 8, 16]

In [24]:
#filtering primes from 1 to 100 using filter
def is_prime(n):
    cnt=0
    for i in range(1,n+1):
        if n%i==0:
            cnt+=1
    if cnt==2:
        return True
    else:
        return False
        
print(list(filter(is_prime,range(1,101))))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [35]:
def is_palindrome(n):
    temp=n
    rev=0
    while n!=0:
        r=n%10
        rev=rev*10+r
        n=n//10
    return temp==rev
f=filter(is_palindrome,range(1000,2000))
print(list(f))

[1001, 1111, 1221, 1331, 1441, 1551, 1661, 1771, 1881, 1991]

In [37]:
def fun(s):
    return 'x' in s
lst = ['bxjrb', 'nzdkg', 'pmsvs', 'hujdh', 'jsgaz', 'gaana', 'gshjsjsj']
print(list(filter(fun,lst)))

['bxjrb']

In [53]:
def fun(rollnumber):
    return rollnumber[2:4]=="A9" and rollnumber[6:8]=="61"
attendees=['23P31A4207', '23A91A1271', '23MH1A4234', '23A91A6116',
 '23A91A0575', '23MH1A4265', '23MH1A4216', '23A91A61F6', '23MH1A4261', '23P31A4266', 
 '23P31A4204', '23A91A61B3', '23MH1A05N2', '23P31A1213', '23A91A0554', '23MH1A4930', 
 '23A91A61E4', '23MH1A4948', '23P31A0521', '23P31A0562', '23P31A0539', '23A91A6153', 
 '23A91A6169', '23A91A6126', '23A91A0590', '23A91A1290', '23A91A61A2', '23A91A4450', 
 '23A91A0517', '23P31A1206', '23P31A0544', '23P31A4232', '23P31A0537', '23P31A0540', 
 '23MH1A4245', '23A91A05B2', '23A91A0561', '23A91A05F4', '23A91A1234', '23MH1A05K8', 
 '23MH1A05J6', '23P31A0584', '23P31A0560', '23A91A61A6', '23A91A6158', '23A91A61C1',
 '23A91A1214', '23A91A0510', '23P31A0525', '23P31A1210', '23P31A4436', '23P31A1215', 
 '23P31A1209', '23MH1A4945', '23P31A0569', '23MH1A4240', '23A91A61A8', '23P31A4245',
 '23A91A1226', '23A91A12D0', '23A91A05A3', '23A91A61C2', '23P31A0566', '23P31A0506', 
 '23A91A05A5', '23P31A4440', '23A91A12A8', '23A91A61C0', '23MH1A4235', '23A91A0592', 
 '23A91A05B4', '23P31A4426', '23P31A0508', '23A91A1205', '23A91A61G7', '23P31A1203', 
 '23P31A0529', '23A91A1293', '23A91A1237', '23P31A0538', '23A91A05H2', '23P31A0501', 
 '23A91A4426', '23P31A0515', '23P31A1230', '23P31A1225', '23P31A4212', '23P31A4419', 
 '23MH1A1220', '23P31A1212', '23A91A05B7', '23P31A0542', '23A91A61D8', '23P31A0514', 
 '23P31A0513', '23A91A61J5', '23A91A4440', '23A91A12A6', '23A91A0541', '23P31A1217', 
 '23A91A05A9', '23A91A61F7', '23P31A0532', '23MH1A05K2', '23MH1A05H3', '23P31A0561', 
 '23MH1A4250', '23P31A4428', '23P31A4425', '23P31A0554', '23P31A0548', '23A91A6172', 
 '23A91A6171', '23A91A61A9', '23P31A1223', '23P31A0533', '23A91A6195', '23A91A6192', 
 '23MH1A05N4', '23P31A4441', '23P31A0523', '23P31A4448', '23MH1A05P5', '23MH1A05N9', '23MH1A05M5']
print(list(filter(fun,attendees)))

['23A91A6116', '23A91A61F6', '23A91A61B3', '23A91A61E4', '23A91A6153', '23A91A6169', '23A91A6126', '23A91A61A2', '23A91A61A6', '23A91A6158', '23A91A61C1', '23A91A61A8', '23A91A61C2', '23A91A61C0', '23A91A61G7', '23A91A61D8', '23A91A61J5', '23A91A61F7', '23A91A6172', '23A91A6171', '23A91A61A9', '23A91A6195', '23A91A6192']

In [49]:
# string slicing
r='23P31A4207'
#  0123456789
print(r[6:10])

4207

# lambda expressions

In [5]:
nums=[1,2,3,4,5,6,7,8]
l=list(map(lambda n: n*n*n,nums))
print(l)
#(lambda n: n*n*n)(8)
#(lambda a,b: a+b)(2,3)

[1, 8, 27, 64, 125, 216, 343, 512]

In [3]:
def fun(n):
    cnt=0
    for i in range(1,n+1):
        if n%i==0:
            cnt+=1
    return cnt
lst=[10,20,30]
print(list(map(fun,lst)))

[4, 6, 8]

In [17]:
marks=[[84,36,55,73,15],
       [27,10,88,68,13],
       [10,46,30,53,79],
       [66,100,93,97,57],
       [7,96,96,15,95]]
print(list(map(lambda lst:[max(lst),min(lst),sum(lst)],marks)))

[[84, 15, 263], [88, 10, 206], [79, 10, 218], [100, 57, 413], [96, 7, 309]]

# read mode in file handling
- you have to use "r" for read mode
- when a file opened in read more you cannot write
- when you are trying to open a file in read mode you have to make sure the file exists, if the file doesn't exist it will throw file not found
# write mode in file handling
- you have to use "w" for write mode
- when you open a file in write mode you cannot read
- if the file that you are trying to open doesn't exist,the write the mode creates one.If file exist it truncates the data

In [1]:
class rectangle:
    def __init__(self,l,w):
        self.len=l
        self.wid=w
    def __repr__(self):
        return f"Rectangle({selt.len},{self.wid})"
    def calculate_area_and_perimeter(self):
        self.area=self.len*self.wid
        self.peri=2*(self.len+self.wid)
    def get_area(self):
        return self.area
    def get_peri(self):
        return self.peri
r1=rectangle(2,5)
print(r1.len,r1.wid)
r1.calculate_area_and_perimeter()
print(r1.get_area())
print(r1.get_peri())

2 5
10
14

In [9]:
class Item:
    def print_me(self):
        print(self.price)
i1=Item()
i1.price = 200
i1.print_me()

200

# Class attribute and Instance attribute
- class attribute doesnt change for every class
- instance attribute are not common for every instance

In [6]:
class Student:
    population = 0 #class attribute
    def __init__(self,name):
        self.name=name
        Student.population += 1  #accessing using class name
print(Student.population)
s1 = Student("Alex")
s2 = Student("Marie")
print(Student.population)

0
2

In [16]:
class Item:
    pay_rate=0.8
    def __init__(self,name,price):
        self.name=name
        self.price=price
    def calculate_total_price(self):
        self.final_price = self.price*Item.pay_rate
i1=Item("mouse",1000)
i1.calculate_total_price()
print(i1.final_price)
i2=Item("Laptop",50000)
i2.calculate_total_price()
print(i2.final_price)

800.0
40000.0

In [18]:
class Item:
    all_items=[]
    def __init__(self,name,price):
        self.name=name
        self.price=price
        Item.all_items.append(self)
i1=Item("Mouse",1000)
i2=Item("Laptop",50000)
i3=Item("Cable",100)
for item in Item.all_items:
    print(item.name)

Mouse
Laptop
Cable

# Inheritance in python
-  A class can inherit from multiple classes in python
-  Multiple Inheritance is supported in python
-  Syntax for inheritance
  class A(B)
- Here A is a child-class and B is a parent class
- If a parent class has a constructor without default values a child class object of that parent should be created in just the way parent class object is created.
- Otherwise, child-class constructor should make a call to super().__init__() to call it's parent constructor

In [21]:
class parent:
    def method1(self):
        print("Hello")
    def method2(self,a,b):
        print(a+b)
class child(parent):
    pass
c1=child()
c1.method1()
c1.method2(10,20)

Hello
30

In [25]:
class Mother:
    def operate(self,a,b):
        print(a+b)
class Father:
    def operate(self,a,b):
        print(a-b)
class Child(Father,Mother):
    pass
c1=Child()
c1.operate(10,20)

-10

# Method overriding in python and polymorphism
- If a child-clas provides a specific implementation for a method that already exists in parent class, we call it as overriding
- In python, if both child and parent classes are having same method, the preferense is given to the method in child class first( if the method in child is not present it will look for that very method in parent class)

In [32]:
class Parent:
    def say_hello(self):
        print("Hello, I am parent class")
class Child(Parent):
    def say_hello(self):
        print("Hello, I am child class")
c1=Child()
c1.say_hello()

Hello, I am child class

# constructor in inheritance
- When a child constructor exists, Parent constructor wont be called
- In the absence of child's constructor, Parent constructor is called

In [36]:
class Parent:
    def __init__(self):
        print("Parent's constructor is called")
class Child(Parent):
    def __init__(self):
        print("Child's constructor is called")
c1=Child()

Child's constructor is called