In [8]:
lst=[10,20,30,40]
print(lst[0])
print(lst[-1])

10
40

# List in python 
- List as collection of homogeneous or heterogeneous elements
- List elements are enclosed within square brackets
- List elements are indexed (Index starts from 0)

In [18]:
names=["Amarendra Bahubali","Sivagami","Devasena","Mahendra bahubali","Avanthika","Kaalakeya","Bhallaladeva"]
print(f"{names[0]} kills {names[5]} with help of {names[6]}")
print(f"{names[-7]} kills {names[-2]} with help of {names[-1]}")
print(f"{names[1]} saves {names[3]}")
print(f"{names[3]} loves {names[4]}")

Amarendra Bahubali kills Kaalakeya with help of Bhallaladeva
Amarendra Bahubali kills Kaalakeya with help of Bhallaladeva
Sivagami saves Mahendra bahubali
Mahendra bahubali loves Avanthika

# len()
. Used to find out how many elements are there in the sequence 
. Syntax len(variable_name)

In [20]:
names=["abc","def","xyz"]
print(len(names))

3

In [22]:
string="hello world"
r=range(10,100,10)  #10 20 30 40 50 60 70 80 90
print(len(string))
print(len(r))

11
9

# max() and min()
. Used to find out maximum and minimum value of a sequence
. Works on homogeneous data

In [24]:
a=[10,20,30,40]
print(max(a),min(a))

40 10

# chr()
. A built in function that returns ascii character associated with a number

In [26]:
print(chr(97))

a

In [28]:
print(chr(35))

#

In [46]:
for i in range(3077,3130):
    print(f"{chr(i)} --> {i}")

‡∞Ö --> 3077
‡∞Ü --> 3078
‡∞á --> 3079
‡∞à --> 3080
‡∞â --> 3081
‡∞ä --> 3082
‡∞ã --> 3083
‡∞å --> 3084
‡∞ç --> 3085
‡∞é --> 3086
‡∞è --> 3087
‡∞ê --> 3088
‡∞ë --> 3089
‡∞í --> 3090
‡∞ì --> 3091
‡∞î --> 3092
‡∞ï --> 3093
‡∞ñ --> 3094
‡∞ó --> 3095
‡∞ò --> 3096
‡∞ô --> 3097
‡∞ö --> 3098
‡∞õ --> 3099
‡∞ú --> 3100
‡∞ù --> 3101
‡∞û --> 3102
‡∞ü --> 3103
‡∞† --> 3104
‡∞° --> 3105
‡∞¢ --> 3106
‡∞£ --> 3107
‡∞§ --> 3108
‡∞• --> 3109
‡∞¶ --> 3110
‡∞ß --> 3111
‡∞® --> 3112
‡∞© --> 3113
‡∞™ --> 3114
‡∞´ --> 3115
‡∞¨ --> 3116
‡∞≠ --> 3117
‡∞Æ --> 3118
‡∞Ø --> 3119
‡∞∞ --> 3120
‡∞± --> 3121
‡∞≤ --> 3122
‡∞≥ --> 3123
‡∞¥ --> 3124
‡∞µ --> 3125
‡∞∂ --> 3126
‡∞∑ --> 3127
‡∞∏ --> 3128
‡∞π --> 3129

# ord()
. Takes character gives a number associated with that character
UNICODE

In [54]:
print(chr(10084))

‚ù§

In [66]:
print(ord("üíï"))

128149

In [68]:
names=['tokyo','rio','palermo','professor','berlin']
print(max(names))
print(min(names))

tokyo
berlin

In [70]:
names=['amit','aman','amar','amarendra']
print(max(names),min(names))

amit aman

# sum()
- Numeric sequence
- Returns the sum of elements

In [74]:
x=[10,20,30]
r=range(10,100,10)
print(sum(x))
print(sum(r))

60
450

# Looping on sequences
. On sequence types, you run two types of loops
1. Index Based Loops
2. Value Based Loops

# Index based loop

In [80]:
lst=[10,20,30,40,50]
for i in range(len(lst)):
    print(lst[i],end=' ')

10 20 30 40 50

In [86]:
lst=[10,20,30,40,50]
for i in range(len(lst),0,-1):
    print(lst[-i],end=' ')
for i in range(len(lst),0,-1):
    print(-i,end=' ')

10 20 30 40 50 -5 -4 -3 -2 -1

# Value based loop

In [96]:
lst=[10,20,30,40,50]
for each_value in lst:
    print(each_value)

10
20
30
40
50

In [98]:
print(each_value)

50

# Reading a list as input from user

In [105]:
n=int(input())
lst=list(map(int,input().split()))
print(lst)

 2
 1 2

[1, 2]

In [115]:
n=int(input())
lst=list(map(int,input().split()))
print(sum(lst[::2]))

 7
 1 2 3 4 5 6 7

16

# Mutability of lists
-

In [1]:
marks=[45,32,12,56,99]
marks[1]=65
print(marks)

[45, 65, 12, 56, 99]

# List methods
- list_name.method_name()

# Insertion methods
- these methods are used to add more elements
- lst.(tab)
- append()
- insert()
- extend()

# append()
- append() is used to add the elements at the end of list
- append() can only add one element a time
- Usage: list_name.append(element)

In [10]:
marks=[54,45,66]
print(marks)
marks.append(77)
print(marks)
marks.append(85)
print(marks)

[54, 45, 66]
[54, 45, 66, 77]
[54, 45, 66, 77, 85]

## Input reading

In [18]:
# lisst taking in input in multiple lines
n=int(input())
lst=[]
for i in range(n):
    val=int(input()) #reading each integer
    lst.append(val) #adding to the list
print(lst)

 5
 10
 20
 30
 40
 50

[10, 20, 30, 40, 50]

In [20]:
names=["abc","xyzp","rstuv","skdjflk"]
lengths=[]
for i in names:
    lengths.append(len(i))
print(lengths)

[3, 4, 5, 7]

In [22]:
names=["abc","xyzp","rstuv","skdjflk"]
chars=[]
for i in names:
    chars.append(i[0])
print(chars)

['a', 'x', 'r', 's']

In [28]:
nums=[3,4,6,89,76,108]
oddnums=[]
for i in nums:
    if(i%2!=0):
        oddnums.append(i)
print(oddnums)

[3, 89]

In [30]:
import random
rn=random.randint(100,200)
print(rn)

128

In [65]:
import random
lst=[]
for i in range(5):
    rn=random.randint(100,200)
    lst.append(rn)
print(lst)

[171, 149, 191, 135, 103]

In [71]:
import random
x=[]
n=int(input())
a,b=map(int,input().split())
for i in range(n):
    rn=random.randint(a,b)
    x.append(rn)
print(x)

 10
 152 31521

[24406, 27528, 689, 24339, 31381, 30679, 30008, 14578, 17660, 13446]

In [171]:
names=['chiru','ballaya','bunny','prabhas','rc','ntr','mahesh','vdk']
c=random.choice(names)
print(c)

vdk

In [212]:
names=['chiru','ballaya','bunny','prabhas','rc','ntr','mahesh','vdk']
x=[]
for i in range(3):
    x.append(random.choice(names))
print(x)

['mahesh', 'chiru', 'mahesh']

In [220]:
ages=[3,39,74,59,19,28,21,98,60,61,5,74,16,61,12,81,8,82,43]
children=[]
teen=[]
middle=[]
old=[]
for i in ages:
    if(i<13):
        children.append(i)
    elif(i>=13 and i<=19):
        teen.append(i)
    elif(i>=20 and i<50):
        middle.append(i)
    else:
        old.append(i)
print(children)
print(teen)
print(middle)
print(old)

[3, 5, 12, 8]
[19, 16]
[39, 28, 21, 43]
[74, 59, 98, 60, 61, 74, 61, 81, 82]

# insert()
- Used to insert in a specific position in the list
- Takes an index and a value to be inserted in that index
- Moves every value to right before inserting

In [223]:
x=[10,20,30,40]
x.insert(2,50)
print(x)

[10, 20, 50, 30, 40]

# extend()
- Used to extend the current list
- Extend takes an iterable and adds every element of the iterable to the list

In [226]:
marks=[50,60]
new_marks=[90,78,54]
marks.extend(new_marks)
print(marks)

[50, 60, 90, 78, 54]

In [228]:
nums=[]
nums.extend(range(1,101))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [230]:
string='abcdefghijklmnopqrstuvwxyz'
alpha=[]
alpha.extend(string)
print(alpha)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [232]:
n=int(input())
alpha=[]
for i in range(n):
    string=input()
    alpha.extend(string)
print(alpha)

 3
 ab
 xyz
 stuv

['a', 'b', 'x', 'y', 'z', 's', 't', 'u', 'v']

# Deletion
- pop()
- remove()
- clear()

In [237]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /) unbound builtins.list method
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [239]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /) unbound builtins.list method
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [249]:
help(list.clear)

Help on method_descriptor:

clear(self, /) unbound builtins.list method
    Remove all items from list.

# pop()
- index based deletion
- by default the index is -1
- Remove and return the value at specified index

In [259]:
x=[10,20,30,40]
x.pop()
print(x)

[10, 20, 30]

In [261]:
x=[10,20,30,40]
x.pop(2)
print(x)

[10, 20, 40]

In [263]:
stack=[]
stack.append(10)
stack.append(20)
stack.append(30)
print(stack)
stack.pop()
print(stack[-1])
print(stack)

[10, 20, 30]
20
[10, 20]

# clear()
- just clear the contents in every element in the list

In [266]:
x=[10,20,30,40]
x.clear()
print(x)

[]

# remove()
- Element based removal
- list.remove(x) deletes x if x exists in the list
- if x doesnot exist in the list it throws an error
- remove() only removes first occurence of the element

In [273]:
x=[10,20,30,40]
x.remove(10)
print(x)

[20, 30, 40]

In [275]:
x=[10,20,30,10,20,10,10,30]
while 10 in x:
    x.remove(10)
print(x)

[20, 30, 20, 30]

# List.index()
- This method returns the index of a value
- If multiple occurrences are there it returns the left most index

In [3]:
names=['walter','jesse','skyler']
print(names[2])   #printing 2nd index char
print(names.index('skyler'))  #printing index

skyler
2

# list.count()
- It's going to give you the number occurrences of an element in the list
- It gives 0 if the given element is not a part of list

In [8]:
list=['walter','jessie','skyler','skyler','jessie','jessie']
print(list.count('jessie'))
print(list.count('skyler'))
print(list.count('walter')) ### same for numbers also

3
2
1

# list.reverse()
- It reverses the given list in-place
- Once reverse is done, you lost the original list

In [11]:
names=['walter','jesse','skyler','max']
print(f"Before reversal: {names}")
names.reverse()
print(f"After reversal: {names}")

Before reversal: ['walter', 'jesse', 'skyler', 'max']
After reversal: ['max', 'skyler', 'jesse', 'walter']

# sort()
- Sorts the list in ascending order (in-place)
- Takes two option arguments - reverse, key
- When reverse is set to True, list gets sorted in descending order
- When given key, sort happens based on the return values of funtion call sent as key

In [14]:
lst=[38,49,-20,40,28]
print(f"Before sorting: {lst}")
lst.sort()  # Tim sort (selection+Quick)
print(f"After sorting (Ascending): {lst}")
lst.sort(reverse=True)
print(f"Descending sorting (Descending): {lst}")

Before sorting: [38, 49, -20, 40, 28]
After sorting (Ascending): [-20, 28, 38, 40, 49]
Descending sorting (Descending): [49, 40, 38, 28, -20]

## key in list.sort()
- Key in list.sort() take a function
- And performs the sort based on the return value of the function

In [17]:
names=['walter','skylerr','tuco','salamanca','jesse']
names.sort()
print(names)

['jesse', 'salamanca', 'skylerr', 'tuco', 'walter']

In [19]:
names=['walter','skylerr','tuco','salamanca','jesse']
names.sort(key=len)   #based on length of a char
print(names)

['tuco', 'jesse', 'walter', 'skylerr', 'salamanca']

In [21]:
def get_vowel_count(string):
    vc=0
    for i in string:
        if i in 'aeiou':
            vc+=1
        return vc
names=['walter','skylerr','tucoo','salamanca','jessiie']
names.sort(key=get_vowel_count)  ## reverse=True
print(names)  ## printing less no.of vowels wise in a word

['walter', 'skylerr', 'tucoo', 'salamanca', 'jessiie']

In [23]:
def get_a_count(string):
    vc=0
    for i in string:
        if i in 'a':
            vc+=1
    return vc
z=['babac','xan','aaabb','pbaacaaba']
z.sort(key=get_a_count)  ## reverse=True
print(z)

['xan', 'babac', 'aaabb', 'pbaacaaba']

In [25]:
def fac_count(n):
    count=0
    for i in range(1,n+1):
        if n%i==0:
            count+=1
    return count
nums=[12,6,9,17]
nums.sort(key=fac_count)
print(nums)

[17, 9, 6, 12]

# copy()
- Return a shallow-copy of the existing list

In [28]:
#Shallow Copy
nums=[10,20,30,40,50]
# Duplication of the list
num1=nums.copy() ## shallow-copy
print(num1)
nums.append(200)
nums.append(348)
print(nums)
print(num1)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 200, 348]
[10, 20, 30, 40, 50]

In [30]:
lst=['jesse','tuco','salamanca','walter','skyler']
print(lst)
lstt=lst.copy()
lst.sort()
print(lst)
cnt=0
for i in range(len(lst)):
    if lst[i]==lstt[i]:
        cnt+=1
print(cnt)

['jesse', 'tuco', 'salamanca', 'walter', 'skyler']
['jesse', 'salamanca', 'skyler', 'tuco', 'walter']
1

# List Comprehensions
- comphending a list is a easy and concise way to obtain other lists from existing lists(or any other iterables)
- List comprehensions often make it easy for a programmer to write code in as few lines as possible, allowing to obtain 
  same functionality that he/she would in more number of lines of code

In [33]:
names=['jesse','tuco','salamanca','walter','skylerr']
new_list=[len(i) for i in names]
print(new_list)
new_list=[max(i) for i in names] #min
print(new_list)

[5, 4, 9, 6, 7]
['s', 'u', 's', 'w', 'y']

In [35]:
nums=[15,16,11,12,14]
odd=[i for i in nums if i%2!=0]
even=[i for i in nums if i%2==0]
square=[i*i for i in nums]

#for i in nums:
#   if i%2!=0:
#       odd.append(i)

print(odd)
print(even)
print(square)

[15, 11]
[16, 12, 14]
[225, 256, 121, 144, 196]

In [39]:
names=['jesse','tuco','salamanca','walter','skylerr']
A_list=[i for i in names if 'a' in i]
print(A_list)

['salamanca', 'walter']

In [41]:
#Create a list all numbers from 100 to 1 that are divisible by 6 but not by 8
lst=[i for i in range(100,1,-1) if i%6==0 and i%8!=0]
print(lst)

[90, 84, 78, 66, 60, 54, 42, 36, 30, 18, 12, 6]